
/* Gayathri */

@font-face {
	font-family: 'Gayathri';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/downloads/fonts/gayathri/Gayathri-Regular.woff2?v=@VERSION@) format('woff2'), url(/downloads/fonts/gayathri/Gayathri-Regular.woff?v=@VERSION@) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Gayathri Bold*/

@font-face {
	font-family: 'Gayathri';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(/downloads/fonts/gayathri/Gayathri-Bold.woff2?v=@VERSION@) format('woff2'), url(/downloads/fonts/gayathri/Gayathri-Bold.woff?v=@VERSION@) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Gayathri Thin*/

@font-face {
	font-family: 'Gayathri';
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	src: url(/downloads/fonts/gayathri/Gayathri-Thin.woff2?v=@VERSION@) format('woff2'), url(/downloads/fonts/gayathri/Gayathri-Thin.woff?v=@VERSION@) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}
